ul {
  list-style-type: none;
  padding-left: 0;
}

.Heading {
  color: black;
}

.Splatter-background {
  background-image: url(../src/assets/splatterBackground.svg);
  background-position: top center;
  background-repeat: repeat;
}
